.interestInfo{
    position: relative;
    height: 100%;
    width:55%;
}
.interestInfo .postSection{
    height: 100%;
    width: 100%;
}
.postSection .posts{
    overflow: scroll;
}
.interestInfo .header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    color: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
}
.interestInfo .header::-webkit-scrollbar{
    display: none;
}
.interest{
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.5vw 1vw;
    cursor: pointer;
    text-wrap: nowrap;
}
.interest.select{
    background-color: rgba(171, 9, 204, 0.621);
}