/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/styles/posts.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.postSection {
    position: relative;
    width: 55%;
}

.posts {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.posts::-webkit-scrollbar {
    display: none;
}

.post {
    width: 55vw;
    height: 18vw;
    margin-top: 6vh;
    display: flex;
}
.post:last-of-type{
    margin-bottom: 20vh;
}
.post .left {
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.post .left .imgCover {
    background: linear-gradient(transparent, transparent, transparent, #000);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}
.post .left .imgCover svg{
    cursor: pointer;
}
.post .left .imgCover .lower{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.post .left .imgCover .lower div{
    display: flex;
    gap: 15px;
}
/* .imgCover .lower .like.like{
    color:red;
} */
.imgCover .upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8vw 1vw;
}
.imgCover .upper .Ileft{
    display: flex;
    gap: 0.8vw;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.imgCover .upper .Ileft img{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
}
.imgCover .upper .Ileft h1{
    filter: drop-shadow(2px 2px 1px #000000);
}
.imgCover .upper .Ileft p{
    font-size: 0.8rem;
    filter: drop-shadow(2px 2px 1px #000000);
    opacity: 0.7;
}
.share{
    transform: scaleX(-1);
}

.post .left img {
    width: 100%;
}

.post .right {
    width: 40%;
    height: 100%;
    background-color: #131013;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    position: relative;
}

.post .right .box {
    width: 90%;
    height: 100%;
    color: #fff;
    padding: 1.5vw;
    padding-top: 20%;
    overflow: hidden;
}
.post .right .box::-webkit-scrollbar{
    display: none;
}
.post .right .box h1 {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    width: 78%;
    text-align: center;
    padding: 1vw 0;
    top: 0;
    background-color: #131013;
    font-family:Arial, Helvetica, sans-serif;
}

.post .right .box p {
    color: #eee;
    width: 100%;
    font-size: 0.8rem;
    padding-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.post .right .box .tags{
    color: #e0f1ff;
    cursor: pointer;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
.post .right .box pre {
    white-space: pre-wrap;
    max-width: 100%;
    /* max-height: 50%; */
    height: 100%;
}
.post .right .box .wrapper{
    width: 220%;
    height: 100%;
    display: flex;
}

.post .right .box .comWrapper {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.post .right .box .comWrapper::-webkit-scrollbar{
    display: none;
}
.post .right .box .desWrapper {
    overflow-y: scroll;
    padding-right: 15%;
}
.post .right .box .desWrapper::-webkit-scrollbar{
    display: none;
}
.post .right .box .comWrapper .comment{
    display: flex;
    width: 100%;
    /* min-height: 6vh; */
    justify-content: left;
    gap: 0.5vw;
    font-family:Arial, Helvetica, sans-serif;
}
.comWrapper .comment img{
    width: 1.8vw;
    height: 1.8vw;
    margin-right: 1vw;
    border-radius: 50%;
}
.comWrapper .comment .comCenter{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.comWrapper .comment .comCenter .comHeader{
    width: -moz-fit-content;
    width: fit-content;
    text-wrap: nowrap;
    display: flex;
    gap: 1.2vw;
    margin-bottom: 0.3vw;
}
.comWrapper .comment .comCenter .comHeader p:first-child{
    font-size: 0.9rem;
    line-height: 1.6rem;
    padding-bottom: 0;
    font-weight: 600;
}
.comWrapper .comment .comCenter .comHeader p:last-child{
    opacity: 0.8;
    font-size: 0.7rem;
    line-height: 1.6rem;
    padding-bottom: 0;
}

.post .right .nav {
    height: 100%;
    width: 10%;
    font-weight: 700;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.post .right .nav .highlight {
    height: 55%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    /* border-bottom-left-radius: 40px; */
    border-top-left-radius: 35px;
    bottom: 0;
    cursor: pointer;
    /* bottom: 45%; */
}

.post .right .nav .comments {
    position: absolute;
    transform: rotate(90deg);
    bottom: 21%;
    left: -80%;
    color: #131013;
    pointer-events: none;
    cursor: pointer;
    z-index: 2;
}

.post .right .nav .des {
    position: absolute;
    transform: rotate(90deg);
    top: -50%;
    left: -80%;
    font-weight: 800;
    color: #131013;
    cursor: pointer;
    pointer-events: none;
    z-index: 2;
}

@media screen and (max-width: 1370px){
    .post .right .nav .des,.post .right .nav .comments {
        left:-90%;
    }
}
@media screen and (max-width: 1250px){
    .post .right .nav .des,.post .right .nav .comments {
        left:-100%;
    }
}
@media screen and (max-width: 1160px){
    .post .right .nav .des,.post .right .nav .comments {
        left:-110%;
        font-size: 0.85rem;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/styles/chatBox.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.chatBox {
    background: linear-gradient(transparent, #0b0b0b5a);
    height: 100%;
    width: 20vw;
}
.chatBox .chats{
    height: 100%;
    overflow: scroll;
    padding-bottom: 50%;
}
.chatBox .chats::-webkit-scrollbar{
    display: none;
}
.header {
    /* background-color: #37373733; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

.chat {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    padding: 18px 2px;
    border-bottom: 2px solid #2e2e2e;
    border-radius: 10px;
    cursor: pointer;
}

.chat .left{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(#a40de0,#000000,#a40de0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
}
.chat .left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid black;
}

.chat .center{
    padding: 0 20px;
    width: 68%;
}
.chat .center.dim{
    opacity: 0.7;
}
.chat .center.dim:hover{
    opacity: 0.9;
}
.chat .center h1{
    padding-top: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 0.9rem;
}
.chat .center span{
    color: #fff;
    font-size: 0.8rem;
    opacity: 0.7;
}

.chat .right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat .right .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: radial-gradient(#b300fa,#b804fe,#7906a3);
}
.chat .right .time{
    color: #fff;
    font-size: 0.7rem;
    font-weight: 800;
    opacity: 0.6;
}


/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/styles/interests.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.interestInfo{
    position: relative;
    height: 100%;
    width:55%;
}
.interestInfo .postSection{
    height: 100%;
    width: 100%;
}
.postSection .posts{
    overflow: scroll;
}
.interestInfo .header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    color: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
}
.interestInfo .header::-webkit-scrollbar{
    display: none;
}
.interest{
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.5vw 1vw;
    cursor: pointer;
    text-wrap: nowrap;
}
.interest.select{
    background-color: rgba(171, 9, 204, 0.621);
}
